In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
#first step is recieve the input from the user, Test if the file type is one of csv, excel or json file types.

In [3]:
inpt= input("write your file name\n")
file_type = inpt.split(".")[-1]

while True : 
    if file_type == "csv" or file_type =="xlsx" or file_type =="json":
        break;
    else:
        inpt= input("please write excel, csv or json file type\n")
        file_type = inpt.split(".")[-1]

write your file name
 kkk.csv

In [15]:
#then read the file according to the type of the file

In [17]:
if file_type == "csv":
    df= pd.read_csv(inpt)
elif file_type == "xlsx":
    df= pd.read_excel(inpt)
elif file_type == "json":
    df= pd.read_json(inpt)

In [6]:
#########to remove dublicated data###########
df.drop_duplicates(inplace=True)

In [7]:
raws , columns = df.shape
print("the number of raws = {}, and the number of columns = {}\n".format(raws , columns))

the number of raws = 24, and the number of columns = 6

In [8]:
describtion = df.describe()
print("here are the number of items,the mean, the minimum, the maximum, the standard deviation, the 25%, 50%, 75% in each column ----> \n\n ",describtion, "\n")

here are the number of items,the mean, the minimum, the maximum, the standard deviation, the 25%, 50%, 75% in each column ---->

         رقم الموبايل
count  2.300000e+01
mean   1.196527e+09
std    8.905425e+07
min    1.005610e+09
25%    1.170503e+09
50%    1.211557e+09
75%    1.276724e+09
max    1.282733e+09

In [9]:
three_mean = df.mode()[:3]
print("the most 3 frequent items in each column are--->\n\n", three_mean, "\n")

the most 3 frequent items in each column are--->

                 الاسم   السنة الدراسية  تاريخ الميلاد رقم الموبايل الأهل  \
0  ابانوب ايمن اسكندر   الثاني الأعدادي    01-02-2010        01224999835
1           ابرام عماد              NaN    01-10-2009                NaN
2         استافرو تامر              NaN    01-11-2009                NaN

   رقم الموبايل                              العنوان
0  1.005610e+09   7شارع عبيدة بن الجراح الدور التالت
1  1.016013e+09  12شارع الشيخ محمد عبده الدور التاني
2  1.064336e+09                      19شارع الأسيوطي

In [10]:
df.isna().sum()

الاسم                 0
السنة الدراسية        1
تاريخ الميلاد         2
رقم الموبايل الأهل    1
رقم الموبايل          1
العنوان               6
dtype: int64

In [11]:
#filling the missing vlaues with 0
df=df.fillna(0)

In [12]:
df.isna().sum()

الاسم                 0
السنة الدراسية        0
تاريخ الميلاد         0
رقم الموبايل الأهل    0
رقم الموبايل          0
العنوان               0
dtype: int64

In [13]:

columns_list =list(df)

In [14]:
for i in columns_list:

    foramted = pd.factorize(df[i])
    print("\n\n\nthe encoding of the numerical data for column ({}) is ---->\n".format(i),foramted)

the encoding of the numerical data for column (الاسم ) is ---->
 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64), Index(['ابانوب ايمن اسكندر ', 'كاراس نادر كرم ', 'كاراس روماني نجيب ',
       'كاراس مايكل جميل ', 'فيلوباتير اكرم ميشيل', 'ديفيد مايكل عادل ',
       'فيلوباتير رامي حبيب ', 'ستيفين القس بافلوس ', 'شادي شريف عاطف ',
       'كيرلس هاني جرجس ', 'توني عادل ', 'بيتر كمال', 'استافرو تامر',
       'فبلوباتير القس اسطفانوس ', 'بافلي البير ابراهيم ', 'مارك عماد عادل ',
       'تكلا ماجد رمسيس ', 'سامح هاني فايز ', 'بيشوي  جوزيف ', 'مايكل نادر',
       'انتوني نادر', 'ابرام عماد', 'فيلوباتير مينا', 'بيشوي هاني'],
      dtype='object'))



the encoding of the numerical data for column (السنة الدراسية ) is ---->
 (array([0, 0, 1, 1, 2, 1, 1, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       5, 6], dtype=int64), Index(['السادس الابتدائي ',   'الأول الاعدادي ',  'السادس البتدائي ',
         'الثاني الأعدادي',  'الثاني الأعدادي ',    'الأول الأعدادي',
                         0],
      dtype='object'))



the encoding of the numerical data for column (تاريخ الميلاد) is ---->
 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 21], dtype=int64), Index(['03-01-2012', '17-11-2011', '22-08-2011', '20-06-2011', '26-05-2011',
       '11-04-2011', '29-10-2010', '02-10-2010', '08-08-2010', '17-06-2010',
       '09-06-2010', '06-06-2010', '14-02-2010', '01-02-2010', '22-01-2010',
       '01-11-2009', '28-10-2009', '01-10-2009', '11-08-2009', '29-07-2009',
       '14-12-2010',            0,  '4/18/2011'],
      dtype='object'))



the encoding of the numerical data for column (رقم الموبايل الأهل) is ---->
 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1, 13, 14, 15,
       16, 17, 18, 19, 20, 21, 22], dtype=int64), Index([              '01226243364',               '01224999835',
                     '01223401597', '01286994809 / 01099969142',
                     '01200224200',                '0122439121',
                     '01228914459',   '01221523130/01270273003',
                     '01280555903',               '01226993996',
                     '01227020165',               '01223617875',
                     '01286441252',               '01273717258',
       '01210717058 / 01275742620',               '01224333828',
       '01221333087 / 01227331303',               '01224171036',
                     '01286836979',               '01005004305',
                     '01226155774',               '01147765691',
                                 0],
      dtype='object'))



the encoding of the numerical data for column (رقم الموبايل) is ---->
 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64), Index([1276541674.0, 1064927529.0, 1281123892.0, 1064336379.0, 1200526850.0,
       1016013025.0, 1278192211.0, 1282733484.0, 1205173530.0, 1222382736.0,
       1274529046.0, 1200083428.0, 1221848126.0, 1276906562.0, 1225907784.0,
       1211556519.0, 1207041380.0, 1095620897.0, 1282645223.0, 1280605704.0,
       1005610289.0, 1204899521.0, 1140922659.0,          0.0],
      dtype='float64'))



the encoding of the numerical data for column (العنوان) is ---->
 (array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 12, 13, 14, 15,
       16, 12, 12, 17, 12, 18, 12], dtype=int64), Index([            ' 7شارع عبيدة بن الجراح الدور التالت',
                                        '49 شارع الخليج',
                                  '3شارع السيد علي حسين',
                       '19شارع التقوي خلف مستشفي الجاوش',
                                          '26شارع مكة  ',
                                  '37شارع صالح أبو رحيل',
                                       '19شارع الأسيوطي',
                                   '26شارع مجمع المصالح',
                                       'عمارة 6 شقة 904',
                     'موقف المنصورة امام مستشفي التخصصي',
                          '8شارع محمد عبده الدور الرابع',
                                         '92شارع النائب',
                                                       0,
                                                  'ههيا',
                             '4شارع المدير الدور الخامس',
                   '12شارع الشيخ محمد عبده الدور التاني',
       'عمارات بنك الأسكان عمارة 5 شقة 603 الدور السابع',
                       'الامن الغذائي امام شمس للنضارات',
       'عمارة بنك الأسكان و التعمير بعمارات بنك الأسكان'],
      dtype='object'))